<form class="mx-auto mt-8 max-w-sm" method="POST">
	<div class="flex flex-col gap-2 lg:flex-row">
		<label class="sr-only" for="email-address">Email address</label>
		<input
			autocomplete="email"
			class="bg-chalk text-accent-500 block h-10 w-full appearance-none rounded-lg border border-zinc-300 px-4 py-2 placeholder-zinc-600 duration-200 focus:border-zinc-300 focus:outline-none focus:ring-zinc-300 sm:text-sm"
			id="email-address"
			placeholder="Enter your email"
			required=""
			type="email"
			name="email"
		/>
		<button
			class="flex h-10 shrink-0 items-center justify-center gap-1 rounded-lg bg-black px-4 py-2 text-sm font-semibold text-white transition-all hover:bg-zinc-700"
			type="submit"
		>
			<span>Subscribe</span>
		</button>
	</div>
</form>
