<main class="container px-4 py-32">
	<div class="flex flex-col items-center space-y-4">
		<h1
			data-aos="fade-up"
			data-aos-duration="1800"
			class="max-w-4xl text-balance text-center text-4xl font-semibold tracking-tight md:text-4xl lg:text-5xl"
		>
			Open-Source Astro.js Template for<span
				class="bg-gradient-to-tr from-violet-500 to-blue-600 bg-clip-text text-transparent"
			>
				Everyone</span
			>
		</h1>

		<p
			data-aos="fade-up"
			data-aos-duration="1800"
			data-aos-delay="200"
			class="max-w-xl text-center text-sm leading-tight text-neutral-500 md:text-base"
		>
			This template provides a solid foundation for building modern, performant websites with
			Astro.js and Tailwind CSS. Jumpstart your project with pre-configured components, styles, and
			features.
		</p>

		<div
			data-aos="zoom-in"
			data-aos-duration="1800"
			data-aos-delay="100"
			class="items-cent flex space-x-2"
		>
			<!-- Primary button -->
			<button
				class="hover:bg-brown-700 mt-4 w-fit rounded-full bg-violet-500 py-2 transition-colors duration-150 ease-in"
			>
				<a
					href="https://github.com/soufianeelc/wrapped"
					target="_blank"
					rel="noopener noreferrer"
					class="flex items-center space-x-2 px-4 text-base font-semibold text-white"
				>
					<span>Get Started &mdash; It's Free</span>
				</a>
			</button>
		</div>
	</div>
</main>
