<section class="container mt-24 max-w-7xl">
	<div id="bg" class="mx-6 grid grid-cols-1 overflow-hidden rounded-3xl pl-6 lg:grid-cols-2">
		<div class="py-36">
			<h1 class="max-w-lg text-3xl font-semibold tracking-tight text-white md:text-4xl lg:text-5xl">
				Starting with Wrapped is simple, fast and free!
			</h1>
			<button class="mt-4 w-fit rounded-full bg-white py-2 transition-colors duration-150 ease-in">
				<a
					href="#"
					target="_blank"
					rel="noopener noreferrer"
					class="flex items-center space-x-2 px-4 text-base font-semibold text-accent"
				>
					<span>Get Started</span>
				</a>
			</button>
		</div>
	</div>
</section>

<style>
	#bg {
		background-image: url('/cta-gradient.png');
	}
</style>
