---
import { Image } from 'astro:assets'
import logo from '@assets/logo.svg'
---

<a href="/" class="relative z-[99999] flex items-center space-x-2">
	<Image src={logo} alt="Wrapped logo" height={40} width={40} />
	<h1 class="text-2xl font-semibold">Wrapped.in</h1>
</a>
